<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <!-- RD SERVICES -->
        <package android:name="com.mantra.mfs110.rdservice"/>
        <package android:name="com.mantra.mis100v2.rdservice"/>
        <package android:name="com.idemia.l1rdservice"/>
        <package android:name="in.gov.uidai.facerd"/>
        <package android:name="com.precision.pb510.rdservice"/>
        <package android:name="com.scl.rdservice"/>
        <package android:name="com.nextbiometrics.onetouchrdservice"/>
        <package android:name="com.morpho.rdservice" />
        <package android:name="com.mantra.rdservice" />
        <package android:name="com.idemia.rdservice" />

        <!-- Intents for safe side resolving -->
        <intent>
            <action android:name="in.gov.uidai.rdservice.fp.CAPTURE" />
        </intent>
        <intent>
            <action android:name="in.gov.uidai.rdservice.face.CAPTURE" />
        </intent>
        <intent>
            <action android:name="in.gov.uidai.rdservice.iris.CAPTURE" />
        </intent>
    </queries>
</manifest>
